<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kent.hisdemo.dao.write.measure.MeasureWriteMapper">


    <insert id="addMeasureData">
        INSERT INTO `console_measure` (`type`, `value`, `create_time`, `user_id`,`feedback_id`,`is_deleted`)
        VALUES (#{type}, #{value}, #{createTime}, #{userId},#{feedbackId},#{isDeleted});
    </insert>

    <update id="updateMeasureFeedBack">
        UPDATE `console_measure`
        <trim prefix="SET" suffixOverrides=",">
            <if test="record.feedbackId != null">
                `feedback_id` = #{record.feedbackId},
            </if>
        </trim>
        WHERE `id` = #{id}
    </update>

    <update id="updateMeasureDetail">
        UPDATE `console_measure`
        SET `type`=#{type},`value`=#{value},`user_id`=#{userId},`feedback_id`=#{feedbackId}
        WHERE `id` = #{id}
    </update>

    <update id="deleteMeasureDetailById">
        UPDATE `console_measure`
        SET `is_deleted`= 1
        WHERE `id` = #{id}
    </update>
</mapper>