<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kent.hisdemo.dao.write.user.UserTokenWriteMapper">

    <insert id="addUserToken">
        INSERT INTO `console_user_token` (`user_id`, `token`, `update_time`, `expire_time`)
        VALUES (#{userId}, #{token}, #{updateTime}, #{expireTime});
    </insert>
    <update id="updateUserToken">
        UPDATE `console_user_token`
        SET `user_id`=#{userId},`token`=#{token},`update_time`=#{updateTime},`expire_time`=#{expireTime}
        WHERE `user_id`=#{userId};
    </update>
</mapper>